body{
    background-color: #EEE;
}
h1{
    text-align: center;
    margin: 10px auto;
    color: #555;
}
a{
    text-decoration: none;
    font-size: 10px;
}
img{
    border: 1px solid #CCC;
}
/* REGISTER */
.input_form{
    width: 50%;
    margin: auto;
    border: 1px solid #BBB;
    background-color: #FFF;
}
.input_form input, .input_form button{
    width: 70%;
    height: 30px;
    margin: 10px 15%;
}
.input_form h5{
    font-size: 70%;
    margin: 0 15%;
}
.input_form p{
    font-size: 80%;
    margin: 15px 15% 0 15%;
}
.input_form a{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/* INDEX */
.infomation, .bbs_form, .message{
    width: 70%; 
    margin: 15px auto;
    background-color: #FFF;
    border: 1px solid #BBB;    
    float: none;
    overflow: auto;
}
.infomation img{
    margin: 5px;
    float: left;
}
.infomation b{
    float: left;
    margin: 10px 0 0 5px;
}
.infomation a, .message a, .message_reply a{
    float: right;
    margin: 10px 10px 0 0;
}
.bbs_form p{
    float: right;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 10px 0px 0px;
}
.bbs_form textarea{
    clear: both;
    float: right;
    margin: 5px 10px 10px 0px;
    width: 90%;
}
.bbs_form button{
    display: block;
    clear: both;
    float: right;
    font-size: 10px;
    margin: 0px 10px 10px 0px; 
}
.message_reply .bbs_form{
    float: none;
    clear: both;
    width: auto;
    margin: 0 10px 10px 10px;
    background-color: #FFF;
    border: none;
    overflow: auto;
}
.message_reply_box{
    float: none;
    clear: both;
    border-top: 1px solid #DDD;
    margin: 0;
}
.message img, .message_reply img{
    margin: 10px;
    float: left;
}
.message b, .message_reply b{
    float: left;
    font-size: 80%;
    margin: 25px 0 0 0px;
}

.poster{
    float: none;
    clear: both;
    margin: 10px 10px 10px 60px;
    font-size: 12px;
    color: #888;
}
.time{
    margin: 0px 10px 10px 0;
    float: right;
    clear: both;
    font-style: italic;
    font-size: 8px;
    color: #AAA;
}
.message_reply{
    clear: both;
    margin-left: 60px;
}
.page{
    width: 70%;
    margin: 0 auto;
    text-align: center;
    font-size: 10px;
}
.page a{
    margin: 0 10px;
}
